<%= form_with(model: @article, local: true) do |form| %>
    <!--<div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :category_elements %>
        <%= form.text_field :category_elements  %>
    </div>-->

<br>
  <div class="mb-3 row">    
      <%= form.label :title, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  
    <%= form.label :category_elements, class: "col-sm-2 col-form-label" %>
    <div class="row">
        <% @categories.each do |category| %>
            <label class="col-6 col-sm-4"> 
                <%= form.check_box :category_elements, {multiple: true}, category.id, nil %>
                <%= category.title %>
            </label>
        <% end %>
    </div>

    <br>

    <div class="field">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>

