

<div class="jumbotron m-3" style="padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;">
  <h1 class="display-4"><%= @article.title %></h1>
  <p class="lead"><%= @article.content %></p>
  <hr class="my-4">
  <p>Escrito por: <strong><%= @article.user.email %></strong></p>
  <%= link_to "Modificar artículo", edit_article_path, class:"btn btn-primary btn-lg" %>
  <%= link_to "Eliminar artículo", @article, class:"btn btn-primary btn-lg", method: :delete, data: {confirm: "Are you sure?"} %>
  
</div>

<h2>Comentarios</h2>
<% @article.comments.each do |comment| %>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %><br>
  <%= comment.body %>
</p>
<%end%>

<h2>Introduce un comentario</h2>
<%= form_with model:[@article, @article.comments.build] do |form| %>

<p>
  <%= form.label :commenter %><br>
  <%= form.text_field :commenter %>
</p>
<p>
  <%= form.label :body %><br>
  <%= form.text_area :body %>
</p>  
<p>
  <%= form.submit %>
</p>


<% end %>
  