<!--<nav class="nav bg-light ">
    <li class="nav-item">
        <%= link_to 'Inicio', root_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Articulos', articles_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Escribir', new_articles_path, class:"nav-link" %>
    </li>
    <% if user_signed_in? %>
        <li class="nav-item">
            <%= link_to 'Cerrar sesi贸n', destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>
    <%else%>
        <li class="nav-item">
            <%= link_to 'Iniciar sesi贸n', new_user_session_path, class:"nav-link" %>
        <li class="nav-item">
            <%= link_to 'Registro', new_user_registration_path, class:"nav-link" %>
    <%end%>
</nav> -->

<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button"><%= link_to 'Inicio', root_path, class:"nav-link" %></button>
    <button class="btn btn-sm btn-outline-secondary me-2" type="button"><%= link_to 'Articulos', articles_path, class:"nav-link" %></button>
    <button class="btn btn-sm btn-outline-secondary me-2" type="button"><%= link_to 'Escribir', new_articles_path, class:"nav-link" %></button>
  
  <% if user_signed_in? %>
        
            <button class="btn btn-sm btn-outline-secondary me-2" type="button"><%= link_to 'Cerrar sesi贸n', destroy_user_session_path, method: :delete, class:"nav-link" %></button>
            
        <%else%>
            <button class="btn btn-sm btn-outline-secondary me-2" type="button"><%= link_to 'Iniciar sesi贸n', new_user_session_path, class:"nav-link" %></button>
            <button class="btn btn-sm btn-outline-secondary me-2" type="button"><%= link_to 'Registro', new_user_registration_path, class:"nav-link" %></button>
    <%end%>
  </form>
</nav>